<!--- DEBUT - Header menu --->
  <div class="top-bar-container">
    <div>
    <nav>
      <ul class="flex ul-bar-container">
        <li class="flex vertical-align">
          <a href ="/">RUCHES - V1.1 - 2019.07.14</a>
        </li>
        <li class="flex vertical-align">
          <a class="top-bar-button transition" href ="/">LE PROJET</a>
        </li>
        <li class="flex vertical-align">
          <a class="top-bar-button transition" href ="/ruche">LES RUCHES</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
<!--- FIN - Header menu --->
