.ruche-container {
	padding-top : 80px;
	margin-left: 10px;
	margin-right: 10px;
}



/* <------  Table ---------> */
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}


/* <------ Legend ---- */

.ruche-legend {
	justify-content: center;
	margin-bottom: 20px
}

.ruche-legend-text {
	margin-left : 20px;
}

.ruche-legend-square-1{
	margin-left : 20px;
	width : 20px;
	background-color: #f05b4f;
	color : #f05b4f;
}
.ruche-legend-square-2{
	margin-left : 20px;
	width : 20px;
	background-color: #d70206;
	color : #d70206;
}

/* <----- RUCHE CARACTERISTIQUES ------> */
.ruche-caracteristiques{
	min-width: 38%;
	max-width: 38%;
	margin : 0px 10px 0px 10px;
	padding: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.ruche-choice-container{
	width: 100%;
}
.ruche-select-container{
	margin : 30px 0px 30px 0px;
}
#ruche-select {
    height: 50px;
    font-size: 16px;
    width: 200px;
}

#ruche-map {
	height: 400px;
	width : 100%;
}

/* <---- RUCHE DATA ------> */
.ruche-data{
	min-width: 55%;
	max-width: 55%;
	margin : 0px 20px 0px 10px;
	padding: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;

}




/* -- */
