<!DOCTYPE html>
<html lang="fr">
<head>
  	<title>RuchesV1</title>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--- ALL Stylesheet -> to be IMPROVED ---->
  	<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  	<link rel="stylesheet" href="../layouts/style.css">
  	<link rel="stylesheet" href="../partials/style-partials.css">
	<link rel="stylesheet" href="../home/home.css">
	<link rel="stylesheet" href="../ruche/ruche.css">
	
</head>

<body>
  	{{{body}}}

<!--- ALL scripts -> to be IMPROVED ---->
<script type="text/javascript" src="../layouts/index.js"></script> 

</body>
</html>
